[2015-11-10 16:21] guidomb opened #1 "Add test. Lots of them."
Yeah I know. Lazy programmer.

[2015-11-10 16:22] guidomb opened #2 "Automatically delete the last N old archives"
We need to resolve [this](https://github.com/guidomb/carthage_cache/blob/6b34ba6aa5ad2251491316e87b699c9b365a788f/lib/carthage_cache/archive_builder.rb#L20) TODO

[2015-11-10 16:23] guidomb opened #3 "Remove unused binaries from cache archive."
We need to resolve [this](https://github.com/guidomb/carthage_cache/blob/6b34ba6aa5ad2251491316e87b699c9b365a788f/lib/carthage_cache/archive_builder.rb#L28) TODO

[2015-11-10 16:24] guidomb opened #4 "Configure code climate test coverage"
First we need tests #1

[2016-01-06 20:19] Autoc0diq opened #7 "How to pass replace All to command"
When running a script on a CI machine, there's no way to tell carthage_cache to automatically overwrite the current Carthage/Build folder if things are already there.

[2016-01-06 21:01] guidomb commented on #7
Yes you are right. I was thinking of adding this feature. If you want to submit a PR I would appreciate it but I would try to add this on the weekend. I wasn't experience this issue in my CI because I use travis and I get a fresh VM every time I run a build.

[2016-01-11 01:15] #7 closed

[2016-01-27 00:09] schwa opened #8 "gem install fails to install bundler"
Installed via gem - which succeeded. When running carthage_cache an exception is thrown that implies it needs bundler.

gem installing bundler fixes this problem.

[2016-01-27 04:16] #8 closed

[2016-01-27 04:19] guidomb commented on #8
I've released a new version `0.2.1`

[2016-02-11 00:36] msanders opened #9 "Error: Use RbConfig instead of obsolete and deprecated Config."
I'm getting this error on Travis for the Xcode 7.2 image:

[code]

Bummed since this would speed up our builds a lot.

[2016-02-11 01:22] guidomb commented on #9
Could you pass `--trace` so I can see the full stack tracer. Also have you [configured](https://github.com/guidomb/carthage_cache#setup) the AWS credentials either using the environmental variables or `.carthage-cache.yml` ?

[2016-02-11 01:37] msanders commented on #9
Yes, environment variables are being set correctly (not using the config file). Here is the trace:

[code]

[2016-02-11 03:37] guidomb commented on #9
Judging by the stack trace the AWS credentials you are using don't have access to the bucket. To check my theory use the same access key locally and see if it works.

Better error reporting is something that is needed for the gem.

[2016-02-11 21:26] guidomb commented on #9
Where you able to double check your AWS credentials? Are you still having this issue?

[2016-02-11 21:39] msanders commented on #9
That fixed it, although I still get this warning:

[code]

Feel free to close this if that's expected. Thanks!

[2016-02-11 21:43] guidomb commented on #9
Is not expected but I guess it only happens with some ruby version. I don't see that error but I am using a newer version.

[2016-02-11 21:43] #9 closed

[2016-02-11 22:40] guidomb commented on #9
I've just released a new version that updates all dependencies. I updates commander to the latest version which should fix that warning https://github.com/commander-rb/commander/issues/24

[2016-02-11 22:58] msanders commented on #9
Great. Thanks for this, looks like it will help our build times a lot.

[2016-02-11 22:59] guidomb commented on #9
Cool! Let me know if you any other problem.

[2016-02-11 23:02] guidomb opened #10 "Improve error reporting"
The current version crashes in any case there is invalid user input and the only way to differentiate this from an actual internal error or bug is to pass `--trace` and read the stack trace and try to know what caused the error.

This happens for example if you provide invalid AWS credential. In that case it would be nice to print that the credentials are invalid.

[2016-03-09 04:15] mokagio opened #12 "Suggestion: More granular approach"
Hey @guidomb, first of all nice gem! It was pretty easy to set it up and it worked straightaway. Great job.

I have a suggestion, on how the tool could behave to perform more efficiently when used across multiple projects.

What do you think of the idea of zipping and uploading the dependencies one by one, rather than the whole `Carthage/Build` folder?

Here's a scenario in which I think it would

[2016-03-09 04:18] mokagio commented on #12
@guidomb I forgot to say, if you like the idea I'm happy to help with the implementation :smile:

[2016-03-09 13:05] guidomb commented on #12
I like the idea. For the gotcha you mentioned the easiest solution I can think of is keeping the current behavior (uploading a zip for the whole `Carthage/Build` directory) and also upload a zip for each dependency as you mentioned. CarthageCache will then first try to find a cache for the whole `Cartfile.resolved` if it doesn't find it then it will try to find a cache for each dependency. For the

[2016-03-09 23:51] mokagio commented on #12
Hey @guidomb, I'm glad you like the idea :smile:

I like the idea of doing the minimum amount of work on the client, and leveraging a lamba function to do more advance stuff on the bucket.

Having said that I think that a good first step would be to implement your first suggestion: uploading both single dependencies and build folder.

I think we could put it in place relatively quickly, and we'd h

[2016-03-11 02:20] guidomb commented on #12
If you want to start working on this I will be more than happy. I would like to have a solid code coverage to make sure that we don't brake anything (gonna try to work on this on the weekend). If you want to go for the client based approach I think that the user should be able to opt-out of this feature to avoid the extra transfer. Maybe the best approach would be to turn it off by default and add

[2016-03-11 05:39] mokagio commented on #12
Good stuff!

I'm a big TDD fan myself, wouldn't have it any other way :smiley:

I think it makes sense. For example `--granular-cache` and `granular_cache: true`.

+1 on all the rest, only two things:

1. What would be the value of having a folder per user and organization, rather that naming the files `Foo-LibA-0.5.0.zip` and so on? Easier management of the bucket?
2. I am not sure that `carthage

[2016-03-11 15:51] guidomb commented on #12
I though having the folders would make it easier if you wanted to navigate using the AWS UI but whatever you think is best or makes it easier (as far as I'm concerned creating folders in S3 is just prepending the name of the folder when you set the name of the file.)

Yeah probably for `bootstrap` it does not work but lets list the dependency and let the user decide what to do.

[2016-03-14 04:07] guidomb commented on #12
I've just added some test to get us covered -> https://codeclimate.com/github/guidomb/carthage_cache/coverage

[2016-03-14 21:27] mokagio commented on #12
Fantastic :sparkles:

I should be able to start working on this before the end of the week. Sorry about the delay :flushed:

[2016-03-14 21:52] guidomb commented on #12
No need to be sorry. Thanks for contributing!

[2016-03-21 22:56] msanders opened #13 "Hash should take into account Xcode version"
Since Swift frameworks [aren't binary compatible between releases](https://developer.apple.com/swift/blog/?id=2), cached frameworks currently break when developers are on different versions of Xcode or if everyone doesn't upgrade at once. As a workaround, `carthage_cache` could just take into account `xcodebuild -version` when generating the file name for each cache.

(This happened to us today wi

[2016-03-22 01:23] guidomb commented on #13
Yes you are right. For now the work around is to do `carthage_cache publish -f` to re upload an archive for a given hash. I'll try to add a patch for this but if you want to give it a shot and send PR I'll really appreciate it.

[2016-03-22 01:43] hyperspacemark commented on #13
Since the actual issue here is Swift ABI compatibility, might I suggest hashing with the result of `swift -version` instead of the Xcode version? Multiple Xcode patch versions that share a toolchain shouldn't result in differently hashed archives.

I've been using this to check toolchain versions in our project's Rakefile. (Pardon the Ruby, I only play a rubyist on the internet)

[code]

[2016-03-22 04:04] mokagio commented on #12
So I've been spending a bit of time onto this, I have some code I could use to open a PR, **but...** I bumped into an issue which I think might compromise the whole granular cache idea.

Carthage doesn't provide a biderectional way to go from built framework name to `Cartfile.resolved` entry, which would make generating and downloading archives for certain type of single dependencies impossible.

[2016-03-22 23:33] msanders commented on #13
@guidomb submitted a PR, let me know what you think

[2016-03-23 00:20] guidomb commented on #13
@msanders Thanks for contributing! I'll take a look at it.

[2016-03-23 00:29] guidomb commented on #12
I think you have a good point and any attempt to implement such feature in a robust way will probably make carthage cache way more complex. We can close this for now and in case anyone is interested in this we can re-open it.

[2016-03-23 00:29] #12 closed

[2016-03-26 03:39] #13 closed

[2016-03-26 03:39] #1 closed

[2016-06-14 00:47] brennantaylor opened #17 "Downloads zip again even if already downloaded"
Into the exact same spot too.

[code]

[2016-06-14 00:51] guidomb commented on #17
Yeah this is a really nice to have. I've kind of busy this following month. I'll try to add this ASAP but if you want to submit a PR that is more than welcomed!

[2016-06-14 00:58] brennantaylor opened #18 "Will keep installing even if you are already up to date"
Currently in the project I work on we do some work to remember the `Cartfile.resolved` and xcode version (I like that `carthage_cache` uses the `swiftc` version). Just like in this blog post https://robots.thoughtbot.com/caching-carthage-con-circleci

This allows us to elide carthage from most developer's workflow for the most part. They just pull new code and when `Cartfile.resolved` changes or t

[2016-06-14 01:00] brennantaylor commented on #17
Cool! I mostly wanted to get my insights written down as I go through the process of setting this up for the project I work on.

Ruby is not my forte and it may take some time for me to get up to speed on your tests but I will try to help. Thanks.

[2016-06-20 03:21] mokagio opened #19 "Time for a 0.4.1 release?"
Imho now that #16 has been merged into master it would be appropriate to release new version of the gem.

Given that the only change since the last release (0.4.0) is the one in #16, and those changes are neither breaking nor new features, the appropriate [semantic versioning](http://semver.org) number should be 0.4.1

Cheers 😊

[2016-06-20 17:09] #19 closed

[2016-09-02 09:25] Dschee opened #22 "Policy Creation Error: Statement IDs (SID) must be alpha-numeric"
Following the README I configured this new policy on AWS:

[code]

When trying to save it I got the following error message:

I had to change the `autogenerated-id` entries to `autogeneratedId` for it to save. I hope this doesn't stop carthage-cache from working. If it is I will notify you after trying it – in any case the README should be updated.

[2016-09-02 09:27] Dschee commented on #22
Okay this didn't work either, I am now additionally getting this error:

[2016-09-02 10:37] Dschee commented on #22
Okay, I setup the policy with the generator, it looks the same only that the Sids are different. Maybe we should note in the README that the Sid needs to be something unique...?

[2016-09-02 11:49] Dschee commented on #12
I am interested! :)

Well I've just read through all your comments and got quite excited until the last message from @mokagio where he says it's not adding much of real world use. But it does for us: We frequently run into a situation where a project has apps for different platforms (say iOS, tvOS, macOS) and we want to share as much logic as possible between them. So our apps for the different pl

[2016-09-05 17:54] guidomb commented on #22
@Dschee Thanks for the suggestion I will clarify that in the docs.

[2016-09-05 17:54] #22 closed

[2016-09-05 18:14] guidomb commented on #12
@Dschee We do also have shared internal libraries but we haven't had this issue because those internal shared libraries don't change that often.

In one particular project that required to frequently add changes to the shared library we ended up using the master branch and using git submodules for all dependencies in that project. That solved the issue of having to build all the dependencies every

[2016-09-22 01:18] mokagio commented on #17
I'd love to help with this, as it would greatly improve our build times since we wouldn't download hundreds of MB every build.

I think this could be implemented by:

- Having a standard temp folder, rather than using `Dir.tmpdir`
- Looking into the standard temp folder before attempting to download

I might be able to have time to draft out a PR for this within the week.

[2016-09-22 01:20] mokagio commented on #17
As a second step we might want to have some way to cleanup that _internal cache_ folder. ;)

[2016-09-22 18:18] guidomb commented on #17
That would be awesome!!! Maybe you can start from here https://github.com/guidomb/carthage_cache/pull/21.

[2016-09-23 00:47] mokagio commented on #17
Hey @guidomb, yesterday I dove into coding and didn't notice #21 was there 😳

I opened #24 instead.

[2016-10-14 14:45] #17 closed

[2016-10-19 14:21] guidomb commented on #18
Sorry for the super super delayed response. This issue flew under my radar. This is a feature that I've been thinking it would be nice for quite a while. In think having some sort of check that triggers on every git branch change, pull, merge or rebase would be nice. This check will tell if you if you need to run `carthage_cache install` or depending on your config it could do it automatically. I

[2016-10-19 21:01] brennantaylor commented on #18
We basically already do that we just check every build since it is just doing a `cmp` between 2 files.

[code]

[2016-10-19 21:02] brennantaylor commented on #18
I'll see what I can do. This gets much more complicated with swift 2.3 and swift 3.0 as it is no longer as easy to figure out which compiler is being used.

[2016-10-19 21:02] brennantaylor commented on #17
Thanks!

[2016-11-11 20:12] mokagio opened #25 "Idea: Track Xcode version in archive digest identifier"
One of my apps failed submission because the frameworks specified iOS 10.2 rather than 10.1.

<img width="1332" alt="screen shot 2016-11-12 at 7 06 16 am" src="https://cloud.githubusercontent.com/assets/1218433/20228849/651944d2-a8a7-11e6-8356-14b48201ff85.png">

Looking online it seems that the error I got from iTunesConnect matches the ones of people that have been trying to submit apps using Xc

[2016-11-11 21:02] guidomb commented on #25
I am sorry to hear that. Carthage cache currently uses a digest of the `Cartfile.resolved` plus the version of Swift. I think I assumed that if Xcode version changed the Swift version would change but that does not seem to be the case.

This is really annoying (thanks Apple for that).

Can you corroborate that the problem is the different version of XCode? If this is the case I think we could add

[2016-11-15 08:08] AndrewSB opened #26 "Branch on carthage_cache exist"
It would be really awesome to be able to branch on `carthage_cache exist`, much like how you can do

[code]

Since I'm going to be running this on CI, I don't want to have to re-install if my Carthage directory is cached

[2016-11-15 14:02] guidomb commented on #26
If I understand correctly you want to avoid downloading the archive for every build if there a local cache already, am I correct? If that is the case, in the latest release we added support for local cache. Meaning the that `carthage_cache` won't download an archive if a local copy exists.

Will that work for you?

[2016-11-15 14:08] guidomb commented on #18
I was thinking about this and I maybe a good option would be to have a `carthage_cache.lock` file that contains the digest of the last installed archive (this file should not be under version control). Then `carthage_cache` can check the if the current's digest is the same as the one in the lock file, if not a you need to run `carthage_cache install`.

[2016-11-15 14:09] #4 closed

[2016-11-15 17:52] AndrewSB commented on #26
oh wow, yeah. That would

So if I understand correctly, if I run `carthage_cache install` and I already have everything correctly installed in `Carthage/Build`, it won't re-download the archive?

[2016-11-15 18:29] guidomb commented on #26
Yeah that is correct you can check that [here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/archive_installer.rb#L35)

I understand that this would work for you so I am closing this issue. Feel free to open a new one if you found a problem or have another question.

[2016-11-15 18:29] #26 closed

[2016-11-17 20:30] AndrewSB opened #27 "Ability to nuke the S3 bucket"
could we add something like `carthage_cache nuke`?

[2016-11-18 14:13] guidomb commented on #27
That would be pretty useful! If you want to nuke all the archives in the S3 bucket I would suggest to add a method [here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/repository.rb) to do that and then expose the `nuke` command [here](https://github.com/guidomb/carthage_cache/blob/master/exe/carthage_cache#L19) which should call a method in the `Application` object. The

[2016-11-18 20:56] AndrewSB commented on #27
@guidomb after talking to my team we realized we'd rather hold on to all of our old archives (we're going to be moving the old ones to AWS *infrequent storage*), just in case the projects on GitHub go down at any point.

I think this still would be useful for some people though! This and the `remove last N archives` 😄

[2016-11-18 22:48] AndrewSB opened #28 "Can't unzip cache?"
Getting is error on all the caches I publish

[code]

[2016-11-18 22:55] guidomb commented on #28
That is weird. I am using the zip command to archive and unarchive. If you try to open zip archive with macOS you get the same error?

[2016-11-18 23:17] AndrewSB commented on #28
Yeah
<img width="394" alt="screen shot 2016-11-18 at 3 16 50 pm" src="https://cloud.githubusercontent.com/assets/3814772/20450030/0db10b76-ada2-11e6-9809-e97bbe5c2620.png">

super weird

[2016-11-21 12:44] guidomb commented on #28
@AndrewSB Are you still this issue? Because I am not able to reproduce it. The archiver class is really simple. It only calls the `zip` command, check it out [here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/archiver.rb#L13).

Can you try executing that command yourself and see what happens?

[2016-11-29 02:51] mokagio commented on #25
Hi, sorry for the intermittent feedback.

I'm still not 100% sure where the issue is, sorry 😞 . I'll keep you posted on this.

[2016-12-05 09:09] freesuraj opened #29 "error: . Use --trace to view backtrace"
Keep getting this error

[2016-12-05 12:45] guidomb commented on #29
Thanks for submitting an issue! Most probably there is something wrong with carthage cache's configuration. Could you tell me how are you executing carthage_cache? Also you can add the `--trace` flag to show the full stack trace, please add that and share me stack trace.

[2016-12-08 12:03] alphatroya commented on #29
I met this problem when define wrong region parameter in .carthage_cache.yml

[2016-12-08 15:42] guidomb commented on #29
Yeah error reporting is something that needs to be improved. If you like contributing that cold be a good starting point. Let me know if you need any help with that.

I understand that you were able to run carthage_cache successfully so I am closing this issue. If you encounter any other problem feel free to open a new open a new issue.

[2016-12-08 15:42] #29 closed

[2016-12-12 14:40] bensarz opened #30 "`warning: Insecure world writable dir /usr/local in PATH, mode 040777` after installing carthage_cache"
Here's the full warning, every time I run carthage_cache command:

[code]

[2016-12-12 23:27] guidomb commented on #30
Seems to be a problem with your ruby setup.

 - https://stackoverflow.com/questions/5380671/getting-the-warning-insecure-world-writable-dir-home-chance-in-path-mode-04
 - https://stackoverflow.com/questions/26711249/how-to-solve-insecure-world-writable-dir-usr-in-path-mode-040777-warning-on-rub
 - https://stackoverflow.com/questions/29016525/how-to-fix-insecure-world-error

[2016-12-12 23:27] #30 closed

[2016-12-27 18:23] guidomb commented on #28
I haven't heard anything on this issue nor I was able to reproduce it. I am closing it. Feel free to re open it if you have any news on it. Thanks!

[2016-12-27 18:23] #28 closed

[2016-12-27 18:25] guidomb commented on #25
I've been using carhage_cache we both Xcode 7.2.1 and Xcode 8.2.1 and did not find any issues. I am closing this for now because it seems there is nothing to be done. Feel free to re-open it if you have any news. Thanks!

[2016-12-27 18:25] #25 closed

[2016-12-28 02:06] AndrewSB commented on #28
Sorry for going AWOL @guidomb! I haven't seen the issue for a while. I feel as if it was a problem with the machine I was running the command on, and not carthage_cache.

I'll definitely report back here if I see it again 😄

[2017-01-04 15:28] guidomb commented on #3
This was already implemented with `prune` command or `-p` option in the `publish` command.

[2017-01-04 15:28] #3 closed

[2017-01-05 04:04] guidomb commented on #18
I have implemented a `validate` command that compares the current digest against the one stored (by the `publish` command) inside the `CarthageCache.lock` file.

https://github.com/guidomb/carthage_cache/blob/master/exe/carthage_cache#L100

[2017-01-05 04:04] #18 closed

[2017-01-10 13:02] Dschee opened #31 "Show upload progress"
Sometimes the build folder is quite big (~> 100 MB) and at least in these cases it would be very nice to see upload progress or at least the number of megabytes already uploaded to have some kind of feedback and estimation.

[2017-01-10 14:42] Dschee commented on #3
Doesn't removing the .dsym and .bcsymbolfilemap files stop us from receiving detailed information about any crashes and prevent us from publishin the app both locally or on the CI?

I mean, I'm all in for deleting all binaries that are not needed like frameworks not any more referenced in the Cartfile. So I want to cleanup "unused binaries" as this issue is titled. But the dsym and bcsymbolmap fil

[2017-01-10 14:54] guidomb commented on #3
@Dschee To be honest I was hesitant of this change too but as far as I know when you download pre compiled frameworks with carthage (when you DONT use `--no-use-binaries` option`) you don't get his files either so I assumed there where not necessary. Not 100% sure until I deploy my app to production, find a crash and see that Crashlytics is not working but I'm think this shouldn't affect that.

[2017-01-10 15:05] guidomb commented on #31
Since the latest release you can tell carthage_cache to always prune unused binaries on `publish` and also you can [specify which platform to use](https://github.com/guidomb/carthage_cache/commit/87b5434cc4de6c34873fc800a7d8443fbbfff271). Since this changes I've seen archive file's size reduces substantially in my projects.

I agree this would be a nice feature to have. I tried to do something sim

[2017-01-10 15:57] Dschee commented on #3
@guidomb As you can see starting at [this line](https://github.com/Carthage/Carthage/blob/master/Source/carthage/Archive.swift#L90) when you build your precompiled frameworks for providing for download as a framework creator using `carthage archive --no-skip-current` as [documented in the README](https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file), they added code s

[2017-01-10 16:52] guidomb commented on #3
@Dschee Ooops! I guess you are correct. I'll revert deleting the `.dSYM` file but I need to find a way to map the `.bcsymbolmap` files to their corresponding `.framework` file. I guess I'll have to dive into Carthage's source code. They seem to have figured that out.

👍

[2017-01-10 17:00] guidomb commented on #3
Well based on Carthage source code the following will do the trick

[code]

[2017-01-10 19:15] guidomb commented on #3
[This](https://github.com/guidomb/carthage_cache/commit/6bc0b77f1cb45403196283dea3e8761b71c6aef9) commit makes `prune` command to only delete `.dSYM` and `.bcsymbolmap` files for frameworks that are no longer being used. Once CI build passes I'll make a new release, version `0.8.1`.

[2017-01-10 19:31] Dschee commented on #3
Thanks for the quick update! 👍

[2017-01-10 20:33] guidomb commented on #3
Release [0.8.3](https://github.com/guidomb/carthage_cache/releases/tag/v0.8.3) found a couple of bugs while testing it with some projects but that one should be working fine. Let me know if you found any issues @Dschee

[2017-01-13 04:46] teddynewell commented on #31
I think the AWS JavaScript API has a way to report upload progress, so might be possible with the Ruby version too.

[2017-01-13 04:57] teddynewell commented on #31
This [SO on reporting S3 upload progress](http://stackoverflow.com/a/17870206) may be relevant. General strategy is to use a multi-part upload by breaking the file into chunks.

[2017-01-13 15:34] Dschee commented on #3
@guidomb Yeah I just tried v0.8.3 and I've come across an issue: I had completely deleted my Carthage folder and had run `carthage update --platform ios,tvos --no-use-binaries` which produced some frameworks successfully. But once I did a `carthage_cache publish` with `prune_on_publish` set to `true` in my `.carthage_cache.yml` two of my frameworks were deleted.

Here's my Cartfile and Cartfile.pr

[2017-01-13 15:43] guidomb commented on #3
I am on the road now but it seems that your problem is related with framework name being different from how it appears in the Cartfile.resolved. Check out the README and look for white list file. You need to tell carthage cache how an entry in the Cartfile.resolved maps to the a .framework file.

| Guido Marucci Blas |

[2017-01-13 19:22] guidomb commented on #3
Check the last usage [example](https://github.com/guidomb/carthage_cache#usage). It seems that you need to whitelist this libs. Create a `carthage_cache_white_list.yml` file

[code]

the you can execute publish with this white list file like `carthage_cache publish -p -w carthage_cache_white_list.yml`

or you can add it to your `.carthage_cache.yml` like

[code]

Let me know if that fixed your iss

[2017-01-19 01:32] kballard opened #32 "Partial download does not result in non-zero error code"
If `carthage_cache` fails to download the full archive, it still tries to unzip it, and it ignores any errors reported by the unzip. The output of the tool includes

[code]

so I can see it in the log, but `carthage_cache` itself must still be exiting with code `0` because my Makefile continues building the project.

This is with version 0.4.0, but I don't see anything relevant in the subsequent c

[2017-01-24 13:46] Dschee commented on #3
Thanks @guidomb for the explanation.

But adding a whitelist and keeping it up-to-date adds too much effort into this especially given there are multiple people on the team. Before I had this issue I could tell them "just use `carthage_cache install || carthage update` instead `carthage update` and `carthage update && carthage_cache publish` instead of `carthage update`" as they didn't have to cha

[2017-01-24 19:45] guidomb commented on #3
Yeah I am sorry to hear that and to be honest I feel the same. The problem is that the situation is quite complex per se and my solution was quick hack that I've made to get things working and move on. But I do agree with you. The current solution is far from ideal. I would like for carthage_cache to automatically do that mapping. I guess that playing around a little but xcodebuild to inspect the

[2017-01-24 19:48] guidomb commented on #32
You are correct. `carthage_cache` is not checking if the archive was successfully downloaded. That check should be done [here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/archive_installer.rb#L18) and the repository should report the error, check [here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/repository.rb#L19).

Feel like sending a PR

[2017-01-26 22:12] kballard commented on #32
I literally haven't touched Ruby in over 8 years, so I'd rather let someone who's a little less rusty submit the PR.

[2017-01-31 23:51] kingfai opened #34 "carthage_cache doesn't support IAM temporary credentials"
Some organizations require the use of IAM temporary credentials:
http://docs.aws.amazon.com/AmazonS3/latest/dev/AuthUsingTempSessionTokenRuby.html

In order for this to work:
1. carthage_cache config needs to ask for a :session_token
2. This token will need to be validated and passed to Aws::S3::Client.new() in repository.rb

[2017-02-03 22:14] kingfai opened #35 "Per framework caching"
Hi @guidomb,
cc: @mokagio , @Dschee
I'd like to restart the discussion that was in issue #12 .

My organization has multiple projects which share dependencies including in house dependencies. When we publish a new release of an in house dependency, we would like to publish it to the cache for all other projects to use. We would need to enhance carthage_cache to also support publishing and download

[2017-02-03 22:32] guidomb commented on #12
@mokagio This has come to life again in #35

[2017-02-03 22:34] guidomb commented on #35
How the repository mapping would look like?

[2017-02-04 00:13] kingfai commented on #35
How about something like this?
[code]

[2017-02-04 02:01] guidomb commented on #35
I think this feature should take into consideration two current features.

1 - Currently carthage cache provides a mechanism to "white list" dependencies to not be pruned by the `prune` command. This is usually needed when the name of the framework does not match the name of the git project. Check the last example in the [usage section](https://github.com/guidomb/carthage_cache#usage)  and [this](

[2017-02-04 10:16] Dschee commented on #35
@kingfai I don't want to stop you from implementing this, but I think I should point you to the fact that there is work in progress in the Carthage framework itself to only rebuild frameworks that are changed, which I think for most people should solve the problem in Carthage itself rather than in this framework. Carthage_Cache would then only be useful in testing environments or for new people en

[2017-02-06 19:33] kingfai commented on #35
Hi @Dschee ,

Thanks for pointing out [Carthage/Carthage#1489](https://github.com/Carthage/Carthage/pull/1489).

Avoiding rebuilding frameworks unnecessarily will definitely help speed up developer work flows. For my organization, large dependency setups and the time it takes to copy down the dependencies for a clean build would still be an issue.

Nonetheless, I'm looking forward to that change a

[2017-02-08 01:15] kingfai commented on #35
Here's a proposal of the changes I'd like to implement:

- Configuration
   - granular_caching will be OFF by default.
   - Turn on by
     - Adding a `–granular_cache` command line option to the publish and install commands or
     - Adding `granular_cache: true` to .carthage_cache.yml
   - A new optional `repository_map` section in .carthage_cache.yaml will map framework names to repo names
[cod

[2017-02-08 01:38] guidomb commented on #35
@kingfai Awesome! Thanks for such detailed description. My comments

 * Could you explain how the `prune` command would work if `granular_caching` is disabled?

 * I am not quite sure if uploading both full archive and individual builds when `granular_caching` is enabled is a good option. Why do you think this is necessary? My main concern here is regarding bandwidth and upload time.

 * >if granu

[2017-02-08 01:51] guidomb commented on #35
Also how would generate such repository map? Would carthage cache generate automatically?

[2017-02-08 19:16] kingfai commented on #35
No problem @guidomb!

Here are some of my thoughts:

I took at look at the code for the `prune` command and played with it. It seems to delete any framework which is not listed in the Cartfile.resolved file or whitelist file. This seemed to delete some of my frameworks where the framework name did not match the repo name.

I'm thinking the `prune` command should just use the `repository_map` as th

[2017-02-14 23:13] kingfai commented on #34
See https://github.com/guidomb/carthage_cache/pull/36

[2017-02-15 06:48] #34 closed

[2017-02-15 18:05] kingfai commented on #35
Hi @guidomb ,

Do you have any preferences on how I submit the PR(s) for this feature? It's going to be pretty large. I could submit the changes in chunks like so if it makes sense to you:
- granular_cache configuration
- uploading
- downloading

[2017-02-15 18:26] guidomb commented on #35
Give me a couple of days to process all this. I am on business trip for the next  few weeks and it's hard to find time to tackle this. I am still worried about the complexity that this would add to carthage cache and the overall benefits it provides compared to the complexity and future maintainability burden. I need some time to better articulate my arguments. Sorry for the delay.

| Guido Marucc

[2017-02-27 18:42] guidomb commented on #35
Sorry for disappearing. I wanted to let you know that Carthage has released version [0.20.0](https://github.com/Carthage/Carthage/releases/tag/0.20.0) which adds a `--cache-builds` flag. This would some most of the problem carthage_cache and this particular issue workaround. I think carthage cache still makes sense for "cold" bootstrap or if you use a services like TravisCI for continuous integrat

[2017-03-29 21:38] kingfai commented on #35
Just a heads up that I'm pretty much done implementing this feature in house.

If things change, and we end up wanting to look at the changes, I'd be happy to share it with everyone on my fork.

[2017-05-15 10:37] startupthekid opened #38 "AWS SDK crashes on publish"
When I run `carthage_cache publish`, I get the following output:

[code]

Interestingly, when I change the bucket name to one that doesn't match what I have on S3, carthage_cache archives everything but fails to find the bucket.

[2017-05-30 08:12] ganjarpanji opened #39 "Exit code for carthage_cache exist"
currently `carthage_cache install || carthage bootstrap` is a command that we used, whenever there is no cache, it will run bootstrap.
but in some situations we only need cache status to do some scenarios in dependency build script.
so, it will be better if carthage_cache could return some exist status and we could utilize it, for example :
`1` =  if there is no cache exist
`0` = if cache is exist

[2017-05-30 11:19] guidomb commented on #39
You can do `carthage_cache exist -s` which will output `true` or `false`

https://github.com/guidomb/carthage_cache/blob/master/exe/carthage_cache#L29

[2017-05-30 11:19] #39 closed

[2017-07-02 10:15] Lutzifer opened #41 "FTPS Support"
I have begun implementing support for using ftps instead of aws.
The branch can be found here: https://github.com/Lutzifer/carthage_cache/tree/ftps_support
It is not quite ready yet for a PR, as host, username and password are currently set via env variables.

So I just wanted to reach out if you are interested in this kind feature, before putting more effort in the config stuff.

[2017-07-04 12:01] guidomb commented on #41
Hi! Thanks for reaching out. I don't use ftps and I'm a little bit reluctant to add features I wouldn't use. My main concern being that I won't be able to maintain it. I'll have to take a look at the final PR but judging by the code in your fork I see that you added `double-bag-ftps`. I'm not sure how stable / maintained is that dependency. I wouldn't want to be in the situation of having to maint

[2017-07-05 20:27] Lutzifer commented on #41
Sure, I can understand the hesitation.

Seems like ruby 2.4 has support for ftps out of the box, i will look into that.
Perhaps I can use your library as the base for a fastlane plugin that manages the carthage cache via ftps, which would keep the code decoupled from this repo and adds the functionality and the fastlane plugin I want to have in one single piece of code

[2017-07-05 23:17] guidomb commented on #41
That sounds like a very goods option. Let me know if you want to move forward with that option because made we can modify carthage_cache to make it easier for such extension to be developed.

[2017-07-09 15:07] Lutzifer commented on #41
This was less work then expected (due to the architecture you used).

A first version, which adds actions for AWS and ftps via fastlane actions can be found here:

https://github.com/num42/fastlane-plugin-carthage_cache_ftps

It is a bit hacky how I create the application though:

When I use this initializer:

[code]

I have to reuse the structure for AWS to transport my values:

[code]

If we cou

[2017-08-09 14:28] samuelbeek opened #42 "Is it possible to cache multiple projects in the same Bucket?"
We want to use `carthage_cache` across all our projects. Is it possible to use the same bucket for all of them or should we use one bucket per project?

Cheers,
Sam

[2017-08-09 15:19] guidomb commented on #42
Hi Sam, yes it is possible and recommended to do so. Carthage cache uses a digest of the `Cartfile.resovled` + version of the compiler to define the cache key. If your projects share the same compiler and `Cartfile.resolved` files cache will be reused between projects.

Just take into account that Carthage cache does not cache at the dependency level so if `Cartfile.resolved` files don't match you

[2017-08-09 15:29] samuelbeek commented on #42
Thanks, super clear 👍

[2017-08-09 15:29] #42 closed

[2017-08-09 15:30] samuelbeek commented on #38
Do you have some AWS environment variables set in your bash_profile? Do you use AWS for other projects as well. That's what's causing the issue on my computer.

[2017-08-10 23:27] guidomb commented on #38
Have you run `carthage_cache config` to generate `.carthage_cache.yml` with the proper amazon configuration?. https://github.com/guidomb/carthage_cache#setup

[2017-09-04 11:49] apognu opened #43 "Use self-hosted S3-compatible backend"
Hi,

As far as I can see, the Amazon's S3 endpoint URL is hardcoded in your code. It would be neat to be able to override it through configuration to use another one, for instance a self-hosted S3 equivalent (Minio, Swift, etc.).

Thank you.

[2017-09-27 15:29] serluca opened #44 "[Question] Store carthage cache inside bucket's folder"
I couldn't find the answer looking through the documentation and previous issues, I was wondering if is possible to store the carthage cache inside a bucket's folder

[2017-09-27 19:10] guidomb commented on #44
I'm 99% sure that is not possible to do that. Carthage Cache uses AWS gem to access S3 and the APIs available to interact with S3 separates the bucket name from the object key.

You can read the code that access S3 (here](https://github.com/guidomb/carthage_cache/blob/master/lib/carthage_cache/repository.rb#L5)

[2017-09-28 11:22] serluca commented on #44
Hi @guidomb thanks for getting back to me, I found a solution for the issue, I'm preparing a PR

[2017-11-17 16:28] serluca commented on #44
Hi @guidomb I think you can close this one now :)

[2017-11-17 16:29] #44 closed

[2020-03-25 19:20] gabrieloc opened #53 "Only subset of dependencies archived"
This plugin worked great up until about 6 weeks ago, in which it now only archives a single `.framework`, `.DSYM`, and 2 `.bcsymbolmap`s. Evidently, introducing some new dependency has broken something inside this plugin.

Has anyone else experienced this issue?